<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Factura </title>
</head>
<div id="htmlData">

<body >


    <div class="container">

        <div class="row">

            <div class="col-4 dataDiv">
                <h2>Fecha <strong>{{factura.fecha}}</strong></h2>
                <h2>Factura Nº <strong>{{factura.numero}}</strong></h2>
            </div>
            <div class="col">
                <img src="../../assets/img/logo_factura.png" class="logo">

            </div>


   
        </div>

        <div class="row">
            <div class="col-4 b-1 rounded border p-3">
                <table class="tallerInfo">
                    <tr>
                        <th>Nombre:</th>
                        <td>Taller Flash S.C.P</td>
                    </tr>
                    <tr>
                        <th class="campos">NIF:</th>
                        <td class="campos">J42719120</td>
                    </tr>
                    <tr>
                        <th class="campos">Domicilio:</th>
                        <td class="campos">C/ MONTCADA 80</td>
                    </tr>
                    <tr>
                        <th class="campos">Ciudad:</th>
                        <td class="campos">08291 RIPOLLET</td>
                    </tr>
                    <tr>
                        <th class="campos">Telefono:</th>
                        <td class="campos">933 49 12 89</td>
                    </tr>
                    <tr>
                        <th class="campos">IBAN:</th>
                        <td>ES9321004270112200164777</td>
                    </tr>
                </table>
            </div>
            <div class="col-4 rounded border p-3">
                <h2>Cliente</h2>


                <table>
                    <tr>
                        <th>Nombre:</th>
                        <td>{{cliente.nombre}} {{cliente.apellidos}}</td>
                    </tr>
                    <tr>
                        <th class="campos">Domicilio:</th>
                        <td class="campos">{{cliente.direccion}}</td>
                    </tr>
                    <tr>
                        <th class="campos">CIF/NIF:</th>
                        <td class="campos">{{cliente.nif}}</td>
                    </tr>
                    <tr>
                        <th class="campos">Telefono:</th>
                        <td class="campos">{{ cliente.telefono !== null ? cliente.telefono : '' }}
                        </td>
                    </tr>
                </table>


            </div>
            <div class="col-4 rounded border p-3">
                <h2>Vehículo</h2>
                <table>
                    <tr>
                        <th>Marca:</th>
                        <td>{{vehiculo.marca}}</td>
                    </tr>
                    <tr>
                        <th class="campos">Modelo:</th>
                        <td class="campos">{{vehiculo.modelo}}</td>
                    </tr>
                    <tr>
                        <th class="campos">Matricula:</th>
                        <td class="campos">{{vehiculo.matricula}}</td>
                    </tr>
                    <tr>
                        <th class="campos">Kilometros:</th>
                        <td class="campos">{{vehiculo.km}}</td>
                    </tr>

                </table>

            </div>

        </div>

        <hr class="my-4">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Articulo</th>
                        <th>Unidades</th>
                        <th>Precio Un.</th>
                        <th>Subtotal</th>
                        <th>Total con IVA</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fila of filas; let i = index ">
                        <td>
                            <input id="subtotal{{i}}" class="form-control articulo" value="{{ this.filas[i].articulo}}" readonly>
                        </td>
                        <td>
                            <input id="unidades{{i}}" class="form-control unidades" value="{{ this.filas[i].unidades}}" readonly>
                        </td>
                        <td>
                            <input id="precioUn{{i}}" class="form-control" value="{{ this.filas[i].precioUn}}" readonly>
                        </td>
                        <td>
                            <input id="subtotal{{i}}" class="form-control" value="{{ this.filas[i].subtotal}}" readonly>
                        </td>
                        <td>
                            <input id="totalConIva{{i}}" class="form-control" value="{{ this.filas[i].totalConIva}}" readonly>
                        </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <div class="row">

                        </div>
                    </tr>
                    <tr>
                        <th class="borde-redondo bg-rojo text-light">
                            Descuento %
                        </th>
                        <th class="bg-rojo text-light unidades">
                            <input id="descuento" value="{{this.factura.descuento}}"  class="form-control" readonly>

                        </th>
                        <th class="bg-rojo text-light">
                            Subtotal
                        </th>
                        <th class="bg-rojo text-light">
                            <input id="subtotalFac" class="form-control" value="{{this.factura.subtotal}}" readonly>
                        </th>
                        <th class="bg-rojo text-light">
                            Base Imponible
                        </th>
                        <th class="bg-rojo borde-extra1 text-light">
                            <input id="baseImponible" class="form-control" value="{{this.factura.baseImponible}}" readonly>

                        </th>



                    </tr>
                    <tr>
                        <th class="bordes"></th>
                        <th class="bordes"></th>


                        <th class="borde-redondo bg-negro text-light">
                            IVA %
                        </th>
                        <th class="bg-negro">
                            <input id="iva" value="{{this.factura.ivaPorcentaje}}" class="form-control" readonly>
                        </th>
                        <th class="bg-negro text-light">
                            Total IVA
                        </th>
                        <td class="bg-negro">
                            <input id="ivaFac" value="0" class="form-control" value="{{this.factura.ivaDinero}}" readonly>

                        </td>

                    </tr>
                    <tr class="final">
                        <th class="bordes"></th>
                        <th class="bordes"></th>
                        <th class="bordes"></th>


                        <th class=" borde-redondo bg-rojo text-light">
                            TOTAL FACTURA
                        </th>
                        <th class=" bg-rojo text-light">
                            {{this.factura.total}} €
                        </th>
                        <th class="bg-rojo borde-extra2">
                        </th>

                    </tr>

                </tbody>
            </table>
        </div>






    </div>

    
</body>
</div>
<div class="descargar col-md-4 mx-a">
    <button class="btn btn-success btn-block" (click)="openPDF()">Descargar PDF</button>
</div>