<!DOCTYPE html>
<html>

<head>
  <title>Página con Bootstrap</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
  <div class="container d-flex flex-column justify-content-center align-items-center vh-100">

    <div class="row">
      <div class="col-12 text-center ">
        <h1 class="text-white">Taller Flash</h1>
        <p class="text-white">Gestión de facturas, clientes y vehiculos</p>
      </div>
    </div>

    <div class="row">
      <div class="col-4">

        <button class="btn btn-warning btn-lg">
          Facturas
          <br>
          <img src="../assets/img/factura.png" style="width:25px;">
        </button>

      </div>

      <div class="col-4">
        <button class="btn btn-success btn-lg" [routerLink]="['clientes-lista']" routerLinkActive="active">
          Clientes
          <br>
          <img src="../assets/img/cliente.png" style="width:25px;">
        </button>

      </div>

      <div class="col-4">

        <button class="btn btn-info btn-lg" [routerLink]="['vehiculos-lista']" routerLinkActive="active">
          Vehiculos
          <br>
          <img src="../assets/img/coche.png" style="width:25px;">
        </button>

      </div>

    </div>

    <div class="row">
      <div class="col-12 tabla">
        <h2>Proximas ITV</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Matricula</th>
              <th>Vehiculo</th>
              <th>Cliente</th>
              <th>Telefono</th>
            </tr>
          </thead>
          <tbody>

            <tr class="text-white " *ngFor="let vehiculo of vehiculos ">
              <td>{{vehiculo.proximaItv}}</td>
              <td>{{vehiculo.matricula}}</td>
              <td>{{vehiculo.marca}} {{vehiculo.modelo}}</td>
              <td>{{vehiculo.cliente.nombre}} {{vehiculo.cliente.apellidos}}</td>
              <td>{{vehiculo.cliente.telefono}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</body>

</html>