<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Factura</title>
</head>

<body>
    <div class="container">
        <h1>Factura</h1>

        <div class="row">
            <div class="col dataDiv">
                <h2>Numero</h2>
                <input id="numero" class="form-control" (keyup)="setFactura()" (change)="setFactura()" type="number" [value]="factura.numero">
                <p class="error">{{error_numeroFac}}</p>

            </div>
            <div class="col dataDiv">
                <h2>Fecha</h2>
                <input id="fecha" (keyup)="setFecha()" (change)="setFecha()" class="form-control" type="date" [value]="factura.fecha">
                <p class="error">{{error_fecha}}</p>

            </div>

        </div>
        <!-- <div class="row img col-12 d-flex justify-content-center align-items-center">
            <img src="../../assets/img/logo_factura.png" class="w-50 img">
        </div> -->
        <div class="row">
            <div class="col-sm b-1 rounded border p-3">
                <img src="../../assets/img/logo_factura.png" class="w-100 img">
                <table class="tallerInfo">
                    <tr>
                        <th>Nombre:</th>
                        <td>Taller Flash S.C.P</td>
                    </tr>
                    <tr>
                        <th class="campos">NIF:</th>
                        <td>J42719120</td>
                    </tr>
                    <tr>
                        <th class="campos">Domicilio:</th>
                        <td>C/ MONTCADA 80</td>
                    </tr>
                    <tr>
                        <th class="campos">Ciudad:</th>
                        <td>08291 RIPOLLET</td>
                    </tr>
                    <tr>
                        <th class="campos">Telefono:</th>
                        <td>933 49 12 89</td>
                    </tr>
                    <tr>
                        <th class="campos">IBAN:</th>
                        <td>ES9321004270112200164777</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm rounded border p-3">
                <h2>Cliente</h2>

                <p class="error">{{error_cliente}}</p>

                <div class="form-group mb-3">
                    <input id="cliente" placeholder="Nombre, NIF, telefono o correo electronico"
                        class="form-control buscador" [(ngModel)]="parametro" (keyup)="clientesBuscar(parametro)"
                        (input)="clientesBuscar(parametro)">

                    <div id="resultados" class="resultados">
                        <tr *ngFor="let cliente of clientesFiltrados">
                            <a (click)="clienteSeleccionado(cliente.id)">{{cliente.nombre}}
                                {{cliente.apellidos}}</a>
                        </tr>
                    </div>

                </div>

                <table>
                    <tr>
                        <th>Nombre:</th>
                        <td>{{cliente.nombre}} {{cliente.apellidos}}</td>
                    </tr>
                    <tr>
                        <th class="campos">Domicilio:</th>
                        <td>{{cliente.direccion}}</td>
                    </tr>
                    <tr>
                        <th class="campos">CIF/NIF:</th>
                        <td>{{cliente.nif}}</td>
                    </tr>
                    <tr>
                        <th class="campos">Telefono:</th>
                        <td>{{cliente.telefono}}</td>
                    </tr>
                </table>
                <button (click)="abrirCrearCliente()" class="anadirCliente btn">+</button>


            </div>
            <div class="col-sm rounded border p-3">
                <h2>Vehículo</h2>
                <select class="form-select" [(ngModel)]="selectedOptionVehiculo"
                    (change)="actualizarVehiculo(selectedOptionVehiculo)">
                    <option value="">
                        Selecciona un vehiculo
                    </option>
                    <option *ngFor="let vehiculo of vehiculos" [value]="vehiculo.id">
                        {{vehiculo.marca}} {{vehiculo.modelo}}
                    </option>

                </select>
                <p class="error"></p>
                <table>
                    <tr>
                        <th>Marca:</th>
                        <td>{{vehiculo.marca}}</td>
                    </tr>
                    <tr>
                        <th class="campos">Modelo:</th>
                        <td>{{vehiculo.modelo}}</td>
                    </tr>
                    <tr>
                        <th class="campos">Matricula:</th>
                        <td>{{vehiculo.matricula}}</td>
                    </tr>
                    <tr>
                        <th class="campos">Kilometros:</th>
                        <td><input class="form-control km" id="km" (keyup)="setKm()" value="{{vehiculo.km}}"></td>
                    </tr>

                </table>

                <button class="anadirVehiculo btn" (click)="abrirCrearVehiculo()">+</button>

            </div>

        </div>

        <hr class="my-4">
        <p class="error">{{error_filas}}{{error_array}}</p>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Articulo</th>
                        <th>Unidades</th>
                        <th>Precio Un.</th>
                        <th>Subtotal</th>
                        <th>Total con IVA</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fila of filas; let i = index ">
                        <td>
                            <input id="articulo{{i}}" (keyup)="setArticulo(i)" value="{{ this.filas[i].articulo}}" class="form-control" value="">
                        </td>
                        <td>
                            <input id="unidades{{i}}" (keyup)="setUnidades(i)" value="{{ this.filas[i].unidades}}" class="form-control">
                        </td>
                        <td>
                            <input id="precioUn{{i}}" (keyup)="setPrecioUn(i)" value="{{ this.filas[i].precioUn}}" class="form-control">
                        </td>
                        <td>
                            <input id="subtotal{{i}}" class="form-control" value="{{ this.filas[i].subtotal}}">
                        </td>
                        <td>
                            <input id="totalConIva{{i}}" class="form-control" value="{{ this.filas[i].totalConIva}}">
                        </td>
                        <td> <button (click)="eliminarFila(i);subtotalFactura()"
                                class="eliminar btn  bg-danger">-</button></td>
                    </tr>
                    <tr>
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center align-items-center">
                                <button (click)="agregarFila()" class="anadir btn btn-lg">+</button>
                            </div>
                        </div>
                    </tr>
                    <tr>
                        <th class="borde-redondo bg-rojo">
                            Descuento %
                        </th>
                        <th class="bg-rojo">
                            <input id="descuento" value="0" (keyup)="setDescuento()" class="form-control">

                        </th>
                        <th class="bg-rojo">
                            Subtotal
                        </th>
                        <th class="bg-rojo">
                            <input id="subtotalFac" class="form-control" value="{{this.factura.subtotal}}">
                        </th>
                        <th class="bg-rojo">
                            Base Imponible
                        </th>
                        <th class="bg-rojo borde-extra1">
                            <input id="baseImponible" class="form-control baseImponible" value="{{this.factura.baseImponible}}">

                        </th>



                    </tr>
                    <tr>
                        <th class="bordes"></th>
                        <th class="bordes"></th>


                        <th class="borde-redondo bg-negro text-light">
                            IVA %
                        </th>
                        <th class="bg-negro">
                            <input id="iva" value="21" class="form-control" (keyup)="setIva()">
                        </th>
                        <th class="bg-negro text-light">
                            Total IVA
                        </th>
                        <td class="bg-negro">
                            <input id="ivaFac" value="0" class="form-control" value="{{this.factura.ivaDinero}}">

                        </td>

                    </tr>
                    <tr>
                        <th class="bordes"></th>
                        <th class="bordes"></th>
                        <th class="bordes"></th>


                        <th class=" borde-redondo bg-rojo">
                            TOTAL FACTURA
                        </th>
                        <th class="bg-rojo">
                            {{this.factura.total}} €
                        </th>
                        <th class="bg-rojo borde-extra2">
                        </th>

                    </tr>

                </tbody>
            </table>
        </div>
        <button class="crear"  (click)="onSubmit()">EDITAR FACTURA</button>






    </div>

</body>
