<div class="navbar text-bg-dark">

<div class="container d-flex justify-content-center">
    <header class=" py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a [routerLink]="['']"class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a [routerLink]="['../facturas-lista/']" class="nav-link">Facturas</a></li>
        <li class="nav-item"><a [routerLink]="['../clientes-lista/']" class="nav-link">Clientes</a></li>
        <li class="nav-item"><a [routerLink]="['../vehiculos-lista/']" class="nav-link">Vehiculos</a></li>
      </ul>
    </header>
  </div>
  </div>
